<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/Estilo.css') }}">
    <title>Jogos</title>
</head>
<body>
    <header>
        <h1>Bem-vindo ao Mundo dos Jogos</h1>
        <nav>
            <ul>
                <li><a href="/Adicionar">Adicionar</a></li>
                <li><a href="/Renomear">Renomear</a></li>
                <li><a href="/Apagar">Apagar</a></li>
                <li><a href="/">Jogos</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section class="featured-games">
            <h2>Jogos em Destaque</h2>
            <ul>
                {% for jogo in Nomes %}
                <li>{{ jogo.Nome }}</li>
                {% endfor %}
            </ul>
    
            <a href="/Adicionar" class="btn">Adicionar Novo Jogo</a>
        </section>
    </main>
</body>
</html>